*~backup
.cache
.DS_Store
.editorconfig
.env
.env.production
.gitlab-ci.yml
.idea
.phpunit.result.cache
.vagrant
.vscode
.yarn
/database/migrationsbackup
/docker-compose.yml
/Homestead.json
/Homestead.yaml
/laradock
/nbproject
/node_modules
/npm-debug.log
/package-lock.json
/public/css
/public/documents
/public/fonts
/public/images
/public/adminer.*
/public/js
/public/storage
/public/svg
/public/vendor
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/images
/storage/database
/storage/debugbar
/vendor
/yarn-error.log
